$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;

$text: #cdd6f4;
$subtext1: #bac2de;
$subtext0: #a6adc8;

$overlay2: #9399b2;
$overlay1: #7f849c;
$overlay0: #6c7086;

$surface2: #585b70;
$surface1: #45475a;
$surface0: #313244;

$base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;

/** global styles *************************************/
* {
	all: unset;
	font-family: 'Hack Nerd Font';
}

scale slider {
	background: transparent;
	outline-color: transparent;
	border-color: transparent;
	color: transparent;
	box-shadow: none;
}

.dashboard_window {
	background-color: $mantle;
	border-radius: 8px;
}

/** powermenu *****************************************/
.powermenu {
	background-color: $mantle;
	border-radius: 8px;
}

.powermenu_button {
	margin: 5px;
	font-size: xx-large;
	background: none;
	border: 2px solid transparent;
	border-radius: 8px;
	outline: none;
	box-shadow: none;
}
.powermenu_button:hover {
	border: 2px solid $mauve;
	color: $mauve;
}

/** system ********************************************/
.system {
	background-color: $mantle;
	border-radius: 8px;
	
	margin: 5px;
	padding: 5px;
}

.system_iconcpu, .system_iconmem, .system_icondrive, .system_iconbat {
	font-size: 32px;
	font-weight : normal;
}
.system_iconcpu {
	font-size: 30px;
	color: $red;
	margin-top: -5px;
	margin-left: -12px;
}
.system_iconmem {
	color: $green;
	margin-top: -5px;
	margin-left: -11px;
}
.system_icondrive {
	font-size : 34px;
	color: $sapphire;
	margin-top: -6px;
	margin-left: -2px;
}
.system_iconbat {
	font-size : 36px;
	color: $yellow;
	margin-top: -9px;
	margin-left: 0px;
}

.system_cpu_bar progressbar trough, .system_mem_bar progressbar trough, .system_drive_bar progressbar trough, .system_bat_bar progressbar trough {
	all: unset;
	background-color: $surface0;
	min-width: 28px;
	min-height: 240px;
	border-radius: 16px;
}

.system_progressbar {
	all: unset;
	background: none;
	min-width: 28px;
	border-radius: 16px;
}

.system_cpu_bar progressbar trough progress {
	@extend .system_progressbar;
	background-color: $red;
}

.system_mem_bar progressbar trough progress {
	@extend .system_progressbar;
	background-color: $green;
}
.system_drive_bar progressbar trough progress {
	@extend .system_progressbar;
	background-color: $sapphire;
}
.system_bat_bar progressbar trough progress {
	@extend .system_progressbar;
	background-color: $yellow;
}

/** clock *********************************************/
.clock {
	background-color: $mantle;
	border-radius: 8px;
	margin: 5px;
	padding: 5px;
}

.time {
	font-size: 180px;
	font-weight: bold;
	color: $lavender;
}

.date {
	font-size: 80px;
	font-weight: bold;
	color: $lavender;
}

/** music ***************************************/
.music_cover {
	min-height: 120px;
	min-width: 120px;
	margin: 20px;
	border-radius: 14px;
}

.music_song {
	font-size : 24px;
	font-weight : bold;
	margin : 40px 0px 0px 0px;
}

.music_artist {
	font-size : 16px;
	font-weight : normal;
	margin : 0px 0px 15px 0px;
}

.music_play_random, .music_status {
	padding-top: 2px;
	font-size: 18px;
}
.music_prev, .music_next {
	font-size: 32px;
}

.music_play_random:hover, .music_prev:hover, .music_status:hover, .music_next:hover {
	color: $mauve;
}

/** launcher ************************************/
.launcher {
	background-color: $mantle;
	border-radius: 8px;
	margin: 5px;
	padding: 5px;
}

.launcher_button {
	font-size: 32px;
	margin: 10px;
	padding: 5px;
	border-radius: 8px;
	background: none;
	border: 2px solid transparent;
	outline: none;
	box-shadow: none;
}

.launcher_button:hover {
	border: 2px solid $mauve;
	color: $mauve;
}

/** volume **************************************/
.volume {
	background-color: $mantle;
	border-radius: 8px;
	margin: 5px;
	padding: 10px;
}

.volume_button {
	font-size: 32px;
}
.volume_button:hover {
	color: $blue;
}

.volume_level {
	font-size: 32px;
}

.volume scale trough {
	all: unset;
	background-color: $surface0;
	border-radius: 16px;
	min-width: 240px;
	min-height: 28px;
}

.volume scale trough highlight {
	all: unset;
	background: none;
	border-radius: 16px;
	background-color: $blue;
}
